<div class="global">
<div class="centrage">
  <p *ngIf="!isSelectedRecipe">
    Veuillez sélectionner une recette.
  </p>
</div>

  <div *ngIf="isSelectedRecipe">
    <p class="titre">{{ selectedRecipe.nom }}</p>
    <p>Pour {{ selectedRecipe.nbPersonnes }} personnes</p>
    <img class="displayPhoto" [src]="getPathPhoto(selectedRecipe)" [alt]="selectedRecipe.nom">
    <div *ngFor="let ingredient of selectedRecipe.ingredients">
      <p>{{ ingredient.quantite | number : '1.0-0': 'fr' }} {{ ingredient.unite }} {{ ingredient.nom }} </p>
    </div>
    <div *ngFor="let instruction of selectedRecipe.instructions">
      <p>{{ instruction.ordre }}. {{ instruction.description }} </p>
    </div>
    <button mat-raised-button color="accent" (click)="onUpdateRecipe()">Modifier la recette</button>
    <button mat-raised-button color="warn" (click)="onDeleteRecipe(selectedRecipe)">Supprimer la recette</button>
  </div>
</div>
