.titre {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.displayPhoto {
  max-width: 300px;
}

::ng-deep .mat-raised-button.mat-accent {
  background-color: rgba(0, 128, 0, 0.466);
  margin-right: 1px;
}
