<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let recipe"> {{recipe.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let recipe"><img [src]="recipe.pathPhoto" style="max-width: 100px; max-height: 100px">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 3]" showFirstLastButtons></mat-paginator>
</div>
