.hover {
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.tableImage {
  max-height: 70px;
  max-width: 70px;
}

.tableDisplay, .recipeDetailsDisplay {
  height: 88vh;
}

.tableDisplay {
  margin-left: 1%;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}
