<div class="spinner" *ngIf="!isLoading">
  <mat-spinner> </mat-spinner>
</div>
<div [hidden]="!isLoading" class="global">
  <div class="recipesTable">
    <mat-form-field>
      <mat-label>Trouver une recette</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Trouver une recette" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let recipe" class="hover" (click)="onSelectRecipe(recipe)"> {{ recipe.nom }}
        </td>
      </ng-container>
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let recipe" class="hover" (click)="onSelectRecipe(recipe)"><img
            [src]="getPathPhoto(recipe)"
            alt="{{ recipe.name }}"
            class="tableImage">
        </td>
      </ng-container>
      <ng-container matColumnDef="nbPersonnes">
        <th mat-header-cell *matHeaderCellDef> Nombre de personnes </th>
        <td mat-cell *matCellDef="let recipe" class="hover" (click)="onSelectRecipe(recipe)">
          <mat-icon (click)="onLower(recipe)">remove</mat-icon>
          <span>{{ recipe.nbPersonnes }}</span>
          <mat-icon (click)="onHigher(recipe)">add</mat-icon>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="recipeDetailsDisplay">
    <app-recipe-details></app-recipe-details>
  </div>
</div>
