<div class="container">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="pathPhoto">Lien de l'image</label>
            <input type="text" id="pathPhoto" formControlName="pathPhoto" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="nbPersonnes">Nombre de personnes</label>
            <input type="number" id="nbPersonnes" formControlName="nbPersonnes" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div formArrayName="ingredients">
            <div *ngFor="let value of recipeForm.get('ingredients')['controls']; let i = index" [formGroupName]="i">
              <label for="nom">Nom</label>
              <input type="text" id="nom" class="form-control" formControlName="nom">
              <label for="quantite">Quantité</label>
              <input type="number" id="quantite" class="form-control" formControlName="quantite">
              <label for="unite">Unité</label>
              <input type="text" id="unite" class="form-control" formControlName="unite">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div formArrayName="instructions">
            <div *ngFor="let instructions of recipeForm.get('instructions')['controls']; let i = index" [formGroupName]="i">
              <label for="description">Description</label>
              <input type="text" id="description" class="form-control"
                formControlName="description">
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="button" mat-raised-button color="primary" (click)="onAddIngredient()">Ajouter un ingredient</button>
      </div>
      <div>
        <button type="button" mat-raised-button color="primary" (click)="onAddInstruction()">Ajouter une instruction</button>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!recipeForm.valid">Enregistrer</button>

    </form>
  </div>
</div>
