::ng-deep .mat-form-field-wrapper {
  margin-right: 5px;
}

.mat-raised-button {
  margin-top: 10px;
  margin-right: 5px;
}

.container-fluid {
  margin-left: 1%;
}

.photo {
  max-width: 200px;
  max-height: 200px;
}

::ng-deep .mat-select-value {
  height: 25px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.moving {
  cursor: move;
}

.imageDisplay {
  padding-top: 50px;
}
