<form (ngSubmit)="onSubmitNomRecette(f)" #f="ngForm">
    <div class="form-group">
        <label for="nomRecette">Nom de la recette</label>
        <input type="text" id="nomRecette" name="nomRecette" class="form-control" ngModel>
    </div>




    <div class="form-group">
        <label for="nbPersonnes">Nombre de personnes</label>
        <input type="number" min="1" max="50" id="nbPersonnes" name="nbPersonnes" class="form-control" ngModel>
    </div>

    <div class="form-group">
        <label for="pathPhoto">Lien photo</label>
        <input type="text" id="pathPhoto" name="pathPhoto" class="form-control" ngModel>
    </div>

    <div class="form-group" *ngFor="let ingredient of nbIngredients">
      <label for="name">
        Ingrédient <button (click)="onAjouterNouvelIngredient()"><i class="fa fa-plus"></i></button>
    </label>
      <input type="text" id="name" name="name" class="form-control" ngModel>
        <label for="quantite">
          Quantité
      </label>
        <input type="text" id="quantite" name="quantite" class="form-control" ngModel>
      <label for="unite">
        Unite
    </label>
      <select id="unite" class="form-control"  name="unite" ngModel>
        <option *ngFor="let unite of unites">{{unite}}</option>
      </select>
    </div>

    <div class="form-group" *ngFor="let instruction of nbInstructions">
      <label for="instruction">
        Instruction  <button (click)="onAjouterNouvelleInstruction()"><i class="fa fa-plus"></i></button>
    </label>
      <input type="text" id="instruction" name="instruction" class="form-control" ngModel>
    </div>

    <button class="btn btn-primary" type="button">Ajouter la recette</button>
  </form>

