<div class="container">
    <div class="row">
        <h1>Les recettes de Mariane</h1>

      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/" >Accueil</a></li>
          <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="ajoutRecette">Ajouter une recette</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <router-outlet></router-outlet>
      </div>
    </div>
  
  